<h1>Hello :)</h1>

<%= link_to 'Show posts', articles_path %>

<p>
  <input type="text" id="num1" >
  <input type="text" id="num2" >
  <button type="button" id="btncalc">Add</button>
</p>
<p id="result">
</p>
